.custom-tooltip {
  font-size: 7px;
  padding: 2px !important;
  background-color: white;
  border: 0px solid black !important;
  border-radius: 3px;
}
.legend-controll{
  width: fit-content;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px;
  z-index: 1000;
}
.legend-controll h4{
  margin: 0;
}
.legend-item{
  display: flex;
  align-items: center;
}
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar{
  display: none;
}